<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net472" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net472" />
  <package id="Microsoft.DotNet.Framework.NativeImageCompiler" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net472" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net472" />
  <package id="runtime.win10-x64.Microsoft.DotNet.Framework.NativeImageCompiler" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.DotNet.Framework.NativeImageCompiler" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>