
table {
  border-collapse: collapse;
}

td, th {
  border: 8px solid silver;
  padding: 8px;
}

tr:nth-child(even){background-color: lightgreen;}

tr:hover {background-color: silver;}

th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
